@page "/"
@using System.Globalization

<PageTitle>Program do wspomagania produkcji</PageTitle>

<h1>System planowania produkcji w firmie GEORGE</h1>
<br />
<br />
<p>Dziś mamy dzień: @DateTime.Now.DayOfYear roku @DateTime.Now.Year, tydzień @GetWeekNumber(DateTime.Now)</p>

<div>
    <h9 style="color:white;">[Wersja:@version]</h9>
    <img class="marginauto" src="/Images/george_st.jpg" asp-append-version="true" width="800" alt="centered image" />
</div>

<style>
    body {
        background-color: lightblue;
    }

    .marginauto {
        margin: 10px auto 20px;
        display: block;
    }
</style>

@code {

    private string? version = "1.0";

    protected override async Task OnInitializedAsync()
    {
        var xversion = System.Reflection.Assembly.GetExecutingAssembly().GetName().Version;

        if (xversion != null)
        {
            version = xversion.ToString();
        }
    }

    private int GetWeekNumber(DateTime date)
    {
        CultureInfo ci = CultureInfo.CurrentCulture;
        System.Globalization.Calendar calendar = ci.Calendar;
        CalendarWeekRule calendarWeekRule = ci.DateTimeFormat.CalendarWeekRule;
        DayOfWeek firstDayOfWeek = ci.DateTimeFormat.FirstDayOfWeek;
        return calendar.GetWeekOfYear(date, calendarWeekRule, firstDayOfWeek);
    }

}