@page "/"
@using System.Globalization

<PageTitle>Program do wspomagania produkcji</PageTitle>

<h1>System produkcyjny >> GEORGE &lt;&lt; [Wersja:@version]</h1>
<p>Dziś mamy dzień: @DateTime.Now.DayOfYear roku @DateTime.Now.Year, tydzień @GetWeekNumber(DateTime.Now)</p>

<div>
    <img class="marginauto" src="/Images/george_st.jpg" asp-append-version="true" width="800" alt="centered image" />
</div>
 PPHU "GEORGE" Marcinkowice 351, 33-393 Marcinkowice tel:(+48 18) 44-33-111 Dziś: @DateTime.Now.ToShortDateString()  
<style>
    body {
        background-color: lightblue;
    }

    .marginauto {
        margin: 10px auto 20px;
        display: block;
    }
</style>

@code {

    private string? version = "1.0";

    [Inject] private AppState AppState { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {

        if (AppState != null)
        {
            AppState.SomeData = "";
        }

        var xversion = System.Reflection.Assembly.GetExecutingAssembly().GetName().Version;

        if (xversion != null)
        {
            version = xversion.ToString();
        }

        await Task.CompletedTask;
    }

    private int GetWeekNumber(DateTime date)
    {
        CultureInfo ci = CultureInfo.CurrentCulture;
        System.Globalization.Calendar calendar = ci.Calendar;
        CalendarWeekRule calendarWeekRule = ci.DateTimeFormat.CalendarWeekRule;
        DayOfWeek firstDayOfWeek = ci.DateTimeFormat.FirstDayOfWeek;
        return calendar.GetWeekOfYear(date, calendarWeekRule, firstDayOfWeek);
    }

}