@page "/"
@using System.Globalization

<PageTitle>Program do wspomagania produkcji</PageTitle>

<h1>System planowania produkcji w firmie GEORGE</h1>
<br />
<br />
<p>Dziś mamy dzień: @DateTime.Now.DayOfYear roku @DateTime.Now.Year, tydzień @GetWeekNumber(DateTime.Now)</p>

<div>
    <img class="marginauto" src="/Images/george_st.jpg" asp-append-version="true" width="800" alt="centered image" />
</div>

<style>
    body {
        background-color: lightblue;
    }

    .marginauto {
        margin: 10px auto 20px;
        display: block;
    }
</style>

@code {
    private int GetWeekNumber(DateTime date)
    {
        CultureInfo ci = CultureInfo.CurrentCulture;
        Calendar calendar = ci.Calendar;
        CalendarWeekRule calendarWeekRule = ci.DateTimeFormat.CalendarWeekRule;
        DayOfWeek firstDayOfWeek = ci.DateTimeFormat.FirstDayOfWeek;
        return calendar.GetWeekOfYear(date, calendarWeekRule, firstDayOfWeek);
    }
}