@page
@model GEORGE.Server.Pages.ErrorModel

<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Error</title>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/app.css" rel="stylesheet" asp-append-version="true" />
</head>

<body>
    <div class="main">
        <div class="content px-4">
            <h1 class="text-danger">Error.</h1>
            <h2 class="text-danger">Wystąpił błąd podczas przetwarzania Twojego żądania.</h2>

            @if (Model.ShowRequestId)
            {
                <p>
                    <strong>Request ID:</strong> <code>@Model.RequestId</code>
                </p>
            }

            <h3>Tryb rozwoju</h3>
            <p>
                Przejście do środowiska <strong>Programistycznego</strong> powoduje wyświetlenie szczegółowych informacji o błędzie, który wystąpił.
            </p>
            <p>
                <strong>Środowisko programistyczne nie powinno być włączone dla wdrożonych aplikacji.</strong>
                Może to spowodować wyświetlenie użytkownikom końcowym poufnych informacji z wyjątków.
                W przypadku lokalnego debugowania włącz środowisko <strong>Programistyczne</strong>, ustawiając zmienną środowiskową <strong>ASPNETCORE_ENVIRONMENT</strong> na <strong>Programistyczne</strong>
                i ponowne uruchomienie aplikacji.
            </p>
        </div>
    </div>
</body>

</html>
