@using AntDesign
@inject IconService iconService
@inject Utilities.ILocalStorage LocalStorage

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">GEORGE</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Strona domowa
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="zlecenia-produkcyjne">
                <span class="oi oi-plus" aria-hidden="true"></span> Lista zleceń
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="zlecenia-produkcyjne-wew">
                <span class="oi oi-calculator" aria-hidden="true"></span> Lista zleceń wewn.
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Karty-Instrukcyjne">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Karty Instrukcyjne
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="FrappeGantt">
                <span class="oi oi-document" aria-hidden="true"></span> Planowanie Produkcji
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Rysuj-Drzwi">
                <span class="oi oi-brush" aria-hidden="true"></span> Generator Drzwi
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="WybierzSchody">
                <span class="oi oi-layers" aria-hidden="true"></span> Generator Schodów
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <Menu Theme="MenuTheme.Dark"
                  Mode=MenuMode.Inline
                  InlineCollapsed=collapsed>
                 <SubMenu Key="sub2" TitleTemplate=@sub1Title>
                    <MenuItem Key="1">
                        <NavLink class="nav-link" href="Rodzaje-Kart-Instrukcyjnych">
                            <span class="oi oi-document" aria-hidden="true"></span>Rodzaje Kart
                        </NavLink>
                    </MenuItem>
                    <MenuItem Key="2">
                        <NavLink class="nav-link" href="Linie-Produkcyjne">
                            <span class="oi oi-fork" aria-hidden="true"></span>&nbsp;&nbsp;Linie Produkcyjne
                        </NavLink>
                    </MenuItem>
                    <MenuItem Key="3">
                        <NavLink class="nav-link" href="ListaPracownikow">
                            <span class="oi oi-person" aria-hidden="true"></span>&nbsp;&nbsp;Użytkownicy
                        </NavLink>
                    </MenuItem>
                    @if (!string.IsNullOrEmpty(user))
                    {
                        <MenuItem Key="4">
                            <NavLink class="nav-link" href="PanelAdminUpraw">
                                <span class="oi oi-wrench" aria-hidden="true"></span>&nbsp;&nbsp;Opcje
                            </NavLink>
                        </MenuItem>
                    }
                </SubMenu>
            </Menu>
    </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    bool collapsed = false;

    string user = "";

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    RenderFragment sub1Title =
    @<span>
        <Icon Type="setting" Theme="outline"></Icon>
        <span>Ustawienia systemu</span>
    </span>
    ;

    protected override async Task OnInitializedAsync()
    {
        user = await LocalStorage.GetStringAsync("user");
        //Console.WriteLine($"NavMenu:{user}");  
    }

}
