@page "/WybierzSchody"
@using System.Globalization
@using System.Net;
@inject IJSRuntime JSRuntime

<div style="display: flex; align-items: center; gap: 10px;">
    <h3>Wybierz typ schodów</h3>
    <Tooltip Placement="@Placement.TopRight" Title="Wróć do poprzedniej strony">
        <Button class="btn-back" Icon="@IconType.Fill.Backward" OnClick="GoBack"></Button>
    </Tooltip>
</div>

<Divider></Divider>
<div class="nav-item px-3">

    <NavLink class="nav-link" href="@{$"_14_z_l/{WebUtility.UrlEncode("Schody 1/4 zabieg w lewo")}"}">
        <span class="oi oi-brush" style="font-weight: bold; color:firebrick" aria-hidden="true"></span> Schody 1/4 zabieg w lewo [w budowie]
    </NavLink>
    <NavLink class="nav-link" href="@{$"_14_z_l/{WebUtility.UrlEncode("Schody 1/4 zabieg w prawo")}"}">
        <span class="oi oi-brush" style="font-weight: bold; color:firebrick" aria-hidden="true"></span> Schody 1/4 zabieg w prawo [w budowie]
    </NavLink>
    <NavLink class="nav-link" href="@{$"_14_p_l/{WebUtility.UrlEncode("Schody 1/4 podest w lewo")}"}">
        <span class="oi oi-brush" style="font-weight: bold; color:firebrick" aria-hidden="true"></span> Schody 1/4 podest w lewo [w budowie]
    </NavLink>
    <NavLink class="nav-link" href="@{$"_14_p_l/{WebUtility.UrlEncode("Schody 1/4 podest w prawo")}"}">
        <span class="oi oi-brush" style="font-weight: bold; color:firebrick" aria-hidden="true"></span> Schody 1/4 podest w prawo [w budowie]
    </NavLink>
    <NavLink class="nav-link" href="@{$"_24_z_l/{WebUtility.UrlEncode("Schody 2/4 zabieg w lewo")}"}">
        <span class="oi oi-brush" aria-hidden="true"></span> Schody 2/4 zabieg w lewo [w budowie - brak rys.]
    </NavLink>
    <NavLink class="nav-link" href="@{$"_24_z_l/{WebUtility.UrlEncode("Schody 2/4 zabieg w prawo")}"}">
        <span class="oi oi-brush" aria-hidden="true"></span> Schody 2/4 zabieg w prawo [w budowie - brak rys.]
    </NavLink>
    <NavLink class="nav-link" href="@{$"_12_p_l/{WebUtility.UrlEncode("Schody 1/2 podest w lewo")}"}">
        <span class="oi oi-brush" aria-hidden="true"></span> Schody 1/2 podest w lewo [w budowie - brak rys.]
    </NavLink>
    <NavLink class="nav-link" href="@{$"_12_p_l/{WebUtility.UrlEncode("Schody 1/2 podest w prawo")}"}">
        <span class="oi oi-brush" aria-hidden="true"></span> Schody 1/2 podest w prawo [w budowie - brak rys.]
    </NavLink>
    <NavLink class="nav-link" href="@{$"_p_l/{WebUtility.UrlEncode("Schody proste w lewo")}"}">
        <span class="oi oi-brush" style="font-weight: bold; color:green" aria-hidden="true"></span> <b style="color:green">Schody proste w lewo [CNC - OK]</b>
    </NavLink>
    <NavLink class="nav-link" href="@{$"_p_l/{WebUtility.UrlEncode("Schody proste w prawo")}"}">
        <span class="oi oi-brush" style="font-weight: bold; color:green" aria-hidden="true"></span> <b style="color:green">Schody proste w prawo [CNC - OK]</b>
    </NavLink>
    <NavLink class="nav-link" href="@{$"_k_l/{WebUtility.UrlEncode("Schody kręte w lewo")}"}">
        <span class="oi oi-brush" aria-hidden="true" style="font-weight: bold; color:firebrick"></span> Schody kręte w lewo [w budowie]
    </NavLink>
    <NavLink class="nav-link" href="@{$"_k_l/{WebUtility.UrlEncode("Schody kręte w prawo")}"}">
        <span class="oi oi-brush" aria-hidden="true" style="font-weight: bold; color:firebrick"></span> Schody kręte w prawo [w budowie]
    </NavLink>
</div>

@code {

    [Inject] private AppState AppState { get; set; } = default!;

    private string encodedUrl = "";

    protected override async Task OnInitializedAsync()
    {
        if (AppState != null)
        {
            AppState.SomeData = "";
        }
        await Task.CompletedTask;

        encodedUrl = "Schody 1/4 zabieg w lewo";
    }

    private async Task GoBack()
    {
        await JSRuntime.InvokeVoidAsync("history.back");
    }

    
}